<!-- Assignment 1: Task 1 -->
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <!-- Assignment 1: Task 2 -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>
                <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@exapnd]>
            <mat-list fxFlex *ngIf="dish">
                <h2 matLine>Comments</h2>
                <mat-list-item *ngFor="let comment of dish.comments">
                    <h4 mat-line>{{comment.comment}}</h4>
                    <h4 mat-line>{{comment.rating}} stars</h4>
                    <p mat-line> -- {{comment.author}} {{comment.date | date}} </p>
                </mat-list-item>
                <!-- Assignment 3 -->
                <mat-list-item *ngIf="commentForm.valid">
                        <h4 mat-line>{{commentForm.value.comment}}</h4>
                        <h4 mat-line>{{commentForm.value.rating}} stars</h4>
                        <p mat-line> -- {{commentForm.value.author}}</p>
                </mat-list-item>
                <!-- Assignment 3 -->
                <div>
                    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onCommentSubmit()">
                        <p>
                            <mat-form-field class="full-width">
                                <input matInput formControlName="author" placeholder="Name" type="text" required>
                                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                            </mat-form-field>
                        </p>
                        <mat-slider
                            formControlName="rating"
                            [max]="5"
                            [min]="0"
                            [step]="1"
                            [thumbLabel]="true"
                            [tickInterval]="1">
                        </mat-slider>
                        <p>
                            <mat-form-field class="full-width">
                                <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
                                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                            </mat-form-field>
                        </p>
                        <button [disabled]="commentForm.invalid" type="submit" mat-button class="background-primary text-floral-white">Submit</button>
                    </form>
                </div>
            </mat-list>
    </div>
</div>